@media only screen and (min-width: 916px) {

	.text-module-container {
		display: flex;
	    justify-content: center;
	    margin-top: 80px;
	    max-width: 1280px;
	    padding: 0 20px;
		height: auto;
		margin-left: auto;
	    margin-right: auto;
	    padding: 20px;
	}

	.text-module {
		width: 400px;
		background-color: white;
		border: 4px solid black;
		margin: 20px;
	}

	.bottomtext {
		padding: var(--padding);
		font-size: 15px;
	}
}

@media only screen and (max-width: 915px) {

	.card-container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.card {
		width: 100%;
		max-width: 600px;
		margin-bottom: 20px;
	}

	.text-module-container {
		display: flex;
		flex-wrap: wrap;
	    justify-content: center;
	    margin-top: 80px;
	    max-width: 1280px;
	    padding: 0 20px;
		height: auto;
		margin-left: auto;
	    margin-right: auto;
	    padding: 20px;
	}

	.text-module {
		width: 500px;
		background-color: black;
		border: 4px solid white;
		margin: 20px;
	}

	.bottomtext {
		padding: var(--padding);
		font-size: 15px;
		color: var(--color-five);
	}
}

