@media only screen and (max-width: 950px) {

	.card-container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.card {
		width: 100%;
		max-width: 600px;
		margin-bottom: 20px;
	}

	.text-module-container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.text-module {
		padding: 30px;
		width: 100%;
		max-width: 550px;
		margin-bottom: 20px;
		border-color: white;
		background-color: black;
		color: white;
		font-size: 2.2em;
		height: auto;
	}
	
}